<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фильмов</title>
</head>
<body>
    <h1>Список фильмов</h1>
    <ul>
        {% for film in films %}
            <li>
                <h2>{{ film.title }}</h2>
                <p><strong>Описание:</strong> {{ film.description }}</p>
                <p><strong>Отзыв:</strong> {{ film.review }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_film' %}">Добавить новый фильм</a>
</body>
</html>